@model Usuario

<body>
<header>
    <main>
        <h2>Registro de Usuarios</h2>
        <form asp-controller="Usuario" asp-action="AltaUsuario" method="post">

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="nombre">Nombre: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Escriba un nombre">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="usuario">Usuario:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="usuario" name="usuario" placeholder="Escriba un nombre de usuario">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="contraseña">Contraseña:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="contraseña" name="contraseña" placeholder="Escriba una Contraseña">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="rol">Rol:</label>
                <div class="col-sm-6">
                    <select class="form-select form-select-sm" name="rol">           
                        <option value="admin">Administrador</option>             
                        <option value="cadete">Cadete</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <input class="btn btn-primary" type="submit" value="Crear">
                </div>
                <div class="col-sm-3 d-grid">
                    <input class="btn btn-primary" type="reset" value="Reset">
                </div>
            </div>

        </form>
    </main>
</header>
</body>